<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Random Quote Generator</title>
</head>
    <body>
        <div class="container">
            <div id="quote-box">

                <p class="quote">{{ quote }}</p>
                <p class="source">{{ source }}<span class="citation">{{ citation }}</span><span class="year">{{ year }}</span></p>

            </div>
            <button id="loadQuote" onclick="window.location.reload(true)" >Show new quote</button>
        </div>
    </body>
</html>